<div class="container" style="padding-top:50px">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <p>To create Jira tickets from Slack, use the "/ticket" command in Slack!</p>
    </div>
  </div>
</div>
